asgiref
crispy-bootstrap5  
dj-database-url    
Django
django-crispy-forms
django-email       
django-environ     
environ
pillow
psycopg2-binary    
python-decouple    
python-dotenv      
sqlparse
typing_extensions  
tzdata
