asgiref==3.8.1
crispy-bootstrap5==2024.10
dj-database-url==2.3.0
Django==5.1.4
django-crispy-forms==2.3
django-email==0.1.10
django-environ==0.11.2
environ==1.0
pillow==11.0.0
psycopg2-binary==2.9.10
python-decouple==3.8
python-dotenv==1.0.1
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2
whitenoise==6.8.2